.clearer {
 height:0;
 clear:both;
}

body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.slider_cotiner{
    max-width:1024px;
    overflow: hidden;
    position: relative;
}

.slider_cotiner .imgList{
	position: absolute;
	list-style: none;
	padding-left: 0;
    float:left;
}

.slider_cotiner .imgList li{
    position: relative;
    float:left;
}

.slider_cotiner .nagBtn{
    position: relative;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    width:100%;
}

.slider_cotiner .oi-chevron-left{
    float:left;
    font-size:4em;
    display: block;
    background: transparent;
    border: none;
    cursor:pointer;
    color:#888;
}

.slider_cotiner .oi-chevron-left:hover{
    color:#fff;
}

.slider_cotiner .oi-chevron-right{
	float:right;
    font-size:4em;
    display: block;
    background: transparent;
    border: none;
    cursor:pointer;
    color:#888;
}

.slider_cotiner .oi-chevron-right:hover{
    color:#fff;
}

.slider_cotiner .oi-chevron-right:focus, .slider_cotiner .oi-chevron-left:focus {
    outline: none;
    border: 0;
}

.slider_cotiner .bean{
    position:absolute;
    left: 0;
    right: 0;
    bottom:35px;
    height:20px;
    display: block;
    text-align: center;
    width:100%;
    height: 25px;
    padding:0;
    list-style: none;
}

.slider_cotiner .bean a{
    font-size: 0;
    display: inline-block;
    width: 15px;
	height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
	background-color: #888;
    margin-left: 5px;
	border-radius: 20px;
}

.slider_cotiner .bean a:hover{
    background-color:#fff;
}

.slider_cotiner .bean .select{
    background-color:#000;
}

.barContiner {
	position: relative;
	width: 350px;
    height: 10px;
	margin-top: 25px;
}

.barContiner .barw {
	position: absolute;
	background: #aaa;
	width: 350px;
	height: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.barContiner .barg {
	position: absolute;
	background: #45c9a8;
	height: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	-webkit-animation: bargGrowing 2s;
    animation: bargGrowing 2s;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

@media (min-width: 1024px) {
  .slider_cotiner {
    height: 768px;
    line-height: 768px;
  }
}

@media (max-width: 1024px) and (min-width: 800px) {
  .slider_cotiner {
    height: 600px;
    line-height: 600px;
  }
}

@media (max-width: 800px){
  .slider_cotiner {
    height: 320px;
    line-height: 320px;
  }
}